.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__title {
    font-size: 36px;
    margin-bottom: 8px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__text {
    color: var(--color-brand-dark);
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }

  &__map {
    flex-shrink: 0;
    margin: 0 -24px;
    height: 176px;
    border: none;
    border-radius: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 320px;
      height: 595px;
    }

    @media screen and (min-width: $bp-desktop) {
      // flex-basis: 594px;
      width: 594px;
      height: 595px;
    }
  }
}
