/* ======== Contact section ======== */
.contact-section {
  padding-bottom: 96px;
}
.contact-container {
  display: flex;
  gap: 32px;
}
/* .contact-form {} */
.contact-title {
  margin-bottom: 16px;
}
.contact-map {
  flex-basis: 594px;
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
/* ======== Contact section ======== */